# Using Pipelines

# Libraries Used

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier

from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.compose import ColumnTransformer

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.drop(columns=['Name','PassengerId','Ticket','Cabin'], inplace=True)

In [5]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [6]:
x_train, x_test, y_train, y_test=train_test_split(df.drop(columns=['Survived']), df['Survived'], test_size=0.2)

In [7]:
x_train

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
15        2  female  55.0      0      0   16.0000        S
548       3    male  33.0      1      1   20.5250        S
741       1    male  36.0      1      0   78.8500        S
751       3    male   6.0      0      1   12.4750        S
795       2    male  39.0      0      0   13.0000        S
..      ...     ...   ...    ...    ...       ...      ...
131       3    male  20.0      0      0    7.0500        S
398       2    male  23.0      0      0   10.5000        S
631       3    male  51.0      0      0    7.0542        S
678       3  female  43.0      1      6   46.9000        S
307       1  female  17.0      1      0  108.9000        C

[712 rows x 7 columns]

In [8]:
x_test

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
43        2  female   3.0      1      2   41.5792        C
765       1  female  51.0      1      0   77.9583        S
777       3  female   5.0      0      0   12.4750        S
337       1  female  41.0      0      0  134.5000        C
784       3    male  25.0      0      0    7.0500        S
..      ...     ...   ...    ...    ...       ...      ...
214       3    male   NaN      1      0    7.7500        Q
728       2    male  25.0      1      0   26.0000        S
638       3  female  41.0      0      5   39.6875        S
763       1  female  36.0      1      2  120.0000        S
857       1    male  51.0      0      0   26.5500        S

[179 rows x 7 columns]

In [9]:
transformer1=ColumnTransformer(
transformers=[
        ('TFN2',SimpleImputer(),[2]),
        ('TFN3',SimpleImputer(strategy='most_frequent'),[6]),
    ],
    remainder='passthrough'
)

In [26]:
transformer=ColumnTransformer(
transformers=[
         ('TFN1',OneHotEncoder(sparse_output=False,handle_unknown='ignore'),[[1,6]]),
    ],
    remainder='passthrough'
)

In [27]:
transformer2=ColumnTransformer(
transformers=[
        ('TFN4',MinMaxScaler(),slice(0,10))
    ],
    remainder='passthrough'
)

In [28]:
transformer4=SelectKBest(score_func=chi2, k=8)

In [29]:
trf5=DecisionTreeClassifier()

# Pipiline

In [30]:
Pipe=Pipeline([
                ('trf1',transformer1),
                ('trf',transformer),
                ('trf2',transformer2),
                ('trf4',trf5)
]
             )

In [22]:
pipe=make_pipeline([transformer1,transformer,transformer2,transformer4,trf5])

In [31]:
Pipe.fit(x_train,y_train)
#pipe.fit(x_train,y_train)
#pipe.named_steps

TypeError: unhashable type: 'list'

In [19]:
from sklearn import set_config
set_config(display='diagram')